@import '../base/colores';

footer {

    padding:50px;
    background-color:nth($colores, 1);
    border: 3px solid white;
    border-radius: 5px;

    nav {

        display: flex;
        justify-content: space-around;

        a {
            color: white;
            font-size: 3rem;
        }
    }
}